/* Font */
@font-face {
    font-family: Josefin Sans;
    src: url('JosefinSans-VariableFont_wght.ttf');
}

/* General */
body {
    font-family: Josefin Sans;
    background-color: rgb(220, 220, 220);
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

main {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* ID's */
/* nav.html */

#navigation-bar {
    display: flex;
    justify-content: center;
    list-style-type: none;
}