/* Font */
@font-face {
    font-family: Josefin Sans;
    src: url('JosefinSans-VariableFont_wght.ttf');
}

/* General */
body {
    font-family: Josefin Sans;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #a5c0ea;
    border: 10px solid #c559e8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 55px;
    text-align: center;
    padding: 20px;
    margin: 26px;
}

h2 {
    font-size: 38px;
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

p {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

header {
    background-color: #a5c0ea;
    border: 10px solid #c559e8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

header h2 {
    display: flex;
    justify-content: end;
}

/* Classes */
/* teams.html */

.teams_characters-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.teams_team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 45%;
}

.teams_team-container a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.teams_team-container a:hover {
    background-color: rgb(219, 219, 219);
}

.teams_character-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 10px;
}

.box-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a5c0ea;
    border: 10px solid #c559e8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-size: 26px;
}

.character-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding-top: 10px;
}

.character-image-container img {
    padding-top: 10px;
}

.characters-grid-item {
    display: grid;
}

.teams-character-image {
    width: 160px;
}

/* IDs */
/* teams.html */

#teams_teams-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    font-size: 26px;
}

/* team.html */

#team_character-container {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    align-items: center;
    background-color: #a5c0ea;
    border: 10px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-size: 26px;
}

#team_character-container img {
    width: 200px;
}

/* */

#team-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #c559e8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#team-container a {
    display: flex;
    justify-content: center;
    font-size: 42px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#team-container a:hover {
    background-color: rgb(219, 219, 219);
}

/* nav.html */

#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #a5c0ea;
    border: 10px solid #c559e8;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}

#navigation-bar a {
    font-size: 25px;
    background-color: aquamarine;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#navigation-bar a:hover {
    background-color: rgb(177, 255, 229);
}

#full-team-characters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#characters-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

#character_image {
    width: 160px;
}