{% extends "layout.html" %}
{% block content %}
<h1>{{ artifacts.Artifact_Set_Name }}</h1>
<p>Set Bonus (2) - {{ artifacts['2PC_Set_Bonus'] }}</p>
<p>Set Bonus (4) - {{ artifacts['4PC_Set_Bonus'] }}</p>
<div>
    <div>
        <img src="{{ artifacts.Flower_Image_URI }}" alt="{{ artifacts.Artifact_Name }}">
        <p>{{ artifacts.Flower_Piece }}</p>
    </div>
    <div>
        <img src="{{ artifacts.Plume_Image_URI }}" alt="{{ artifacts.Artifact_Name }}">
        <p>{{ artifacts.Plume_Piece }}</p>
    </div>
    <div>
        <img src="{{ artifacts.Sands_Image_URI }}" alt="{{ artifacts.Artifact_Name }}">
        <p>{{ artifacts.Sands_Piece }}</p>
    </div>
    <div>
        <img src="{{ artifacts.Goblet_Image_URI }}" alt="{{ artifacts.Artifact_Name }}">
        <p>{{ artifacts.Goblet_Piece }}</p>
    </div>
    <div>
        <img src="{{ artifacts.Circlet_Image_URI }}" alt="{{ artifacts.Artifact_Name }}">
        <p>{{ artifacts.Circlet_Piece }}</p>
    </div>
</div>
<h2>Characters who use {{ artifacts.Artifact_Set_Name }}</h2>
{% for character_id, character_details in characters.items() %}
<div>
    <a href="/characters/{{ character_details.Character_URL }}">
        <div>
            <img src="{{ character_details.Character_Image_URI }}" alt="{{ character_id }}">
            <h2>{{ character_details.Character_Name }}</h2>
        </div>
    </a>
{% endfor %}
{% endblock %} 