{% extends "layout.html" %}
{% block content %}
<div class="bg-white m-4 shadow lg:mt-8 m-4">
    <h1 class="text-3xl pt-6 pb-2 font-bold lg:text-4xl pt-9">Characters</h1>
    <form method="GET" action="{{ url_for('characters') }}" class="flex flex-col items-center justify-center pb-5">
        <input type="text" name="query" placeholder="Search characters" maxlength="20"
            value="{{ request.args.get('query', '') }}" class="p-3 m-2.5 text-center border-2 lg:pt-4">
        <button type="submit"
            class="text-center self-center border-2 p-2 bg-purple-300 rounded-2xl hover:bg-purple-400 lg:p-3 mb-2">Search</button>
    </form>
</div>

<div class="bg-white m-4 shadow">
    {% if characters|length > 0 %}
    <div class="grid grid-cols-2 pt-5 lg:grid-cols-6">
        {% for character in characters %}
        <div class="flex flex-col self-start justify-self-center">
            <div class="p-3 lg:p-7">
                <a href="/characters/{{ character.Character_URL }}">
                    <div class="flex flex-col items-center justify-center">
                        <img src="{{ character.Character_Image_URI }}" alt="{{ character.Character_Name }}"
                            class="img_icon">
                        <h2 class="lg:text-2xl pt-3">{{ character.Character_Name }}</h2>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="grid grid-cols-1 p-4">
        <p class="flex self-center justify-self-center">No characters found matching your query.</p>
    </div>
    {% endif %}
</div>
{% endblock %}