{% extends "layout.html" %}
{% block content %}
<h1 class="text-3xl pt-6 pb-2 font-bold">Characters</h1>

<!-- Search Form -->
<form method="GET" action="{{ url_for('characters') }}" class="flex flex-col items-center justify-center">
    <input type="text" name="query" placeholder="Search characters" value="{{ request.args.get('query', '') }}" class="p-3 m-2.5 text-center border-2">
    <button type="submit" class="text-center self-center border-2 p-2 bg-amber-300 font-medium hover:bg-amber-400">Search</button>
</form>

<!-- Characters Grid -->
{% if characters|length > 0 %}
<div class="grid grid-cols-2">
    {% for character in characters %}
    <div class="flex flex-col self-start justify-self-center">
        <div class="p-3">
            <a href="/characters/{{ character.Character_URL }}">
                <div class="flex flex-col items-center justify-center">
                    <img src="{{ character.Character_Image_URI }}" alt="{{ character.Character_Name }}" class="img_icon">
                    <h2>{{ character.Character_Name }}</h2>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="grid grid-cols-1 p-4">
    <p class="flex self-center justify-self-center">No characters found matching your query.</p>
</div>
{% endif %}
{% endblock %}