{% extends "layout.html" %}
{% block content %}
<h1 class="text-3xl pt-6 pb-2 font-bold">Character and Team Building Guide</h1>
<p class="p-5">Welcome to my Genshin Impact Guide for my Spiral Abyss Teams. This is a website that I will continue to expand as I create more team compositions and builds.</p>
<h2 class="text-2xl py-2 font-medium">How my teams are made</h2>
<p class="p-5">I always choose the build characters that I like. I choose a main DPS character that I like and tend to build a viable team around them eg. Shenhe as Main DPS with a reverse melt team build around them.</p>
<h2 class="text-2xl py-2 font-medium">How to use this guide</h2>
<p class="p-5">This guide will include optimal builds for my teams and characters with alternative builds aswell (Note that my builds are optimized for my specific team only. 4 piece Gilded Dreams is NOT support Shenhe's best in slot and should only be used for Reverse Melt teams). Each character will have a list of usable weapons ranked from best to worst and a list of artifact sets with its best main stats and sub stats to look out for. This website should be used as a reference guide and by no means is 100% accurate and will not necessarily give your team its maximum damage output.</p>
{% endblock %}