<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Genshin Impact Build Website</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body id="default">
        <div>
            <div id="head">
                <header>{% include "header.html" %}</header>
                <nav>{% include "nav.html" %}</nav>
            </div>
            <main>{% block content %}{% endblock %}</main>
            <footer id="foot">{% include 'footer.html' %}</footer>
        </div>

        <script src="/static/nav.js"></script>
    </body>
</html>