<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Genshin Impact Build Website</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div>
            <div class="default_box-container">
                <header>{% include "header.html" %}</header>
                <nav>{% include "nav.html" %}</nav>
            </div>
            <main class="default_box-container">{% block content %}{% endblock %}</main>
            <footer class="default_box-container">{% include 'footer.html' %}</footer>
        </div>
    </body>
</html>