<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="introdution-container">
        <header>
            <h1>Genshin Impact Character and Team Building Guide</h1>
            <h2>By Aso Jaou (Aaron Zheng - 21211)</h2>
        </header>
        <nav>
            <ul class="navigation-bar">
                <a href="/">Main Menu</a>
                <a href="/teams">Team Compositions</a>
                <a href="/characters">Characters</a>
                <a href="/weapons">Weapons</a>
                <a href="/artifacts">Artifacts</a>
            </ul>
        </nav>
    </div>
    <div class="introduction-container">
        <h2>Character and Team Building Guide</h2>
        <p>Welcome to my Genshin Impact Guide for my Spiral Abyss Teams. This is a website that I will continue to expand as I create more team compositions and builds.</p>
        <h3>How my teams are made</h3>
        <p>I always choose the build characters that I like. I choose a main DPS character that I like and tend to build a viable team around them eg. Shenhe as Main DPS with a reverse melt team build around them.</p>
        <h3>How to use this guide</h3>
        <p>This guide will include optimal builds for my teams and characters with alternative builds aswell (Note that my builds are optimized for my specific team only. 4 piece Gilded Dreams is NOT support Shenhe's best in slot and should only be used for Reverse Melt teams). Each character will have a list of usable weapons ranked from best to worst and a list of artifact sets with best main stat and sub stats to look out for.)</p>
    </div>
</body> 