<div class="stack-menu hover:cursor-pointer">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="hidden-menu">
    <ul class="flex flex-col">
        <li class="text-1xl p-3 font-bold"><a href="/">Main Menu</a></li>
        <li class="text-1xl p-3 font-bold"><a href="/teams">Team Compositions</a></li>
        <li class="text-1xl p-3 font-bold"><a href="/characters">Characters</a></li>
        <li class="text-1xl p-3 font-bold"><a href="/weapons">Weapons</a></li>
        <li class="text-1xl p-3 font-bold"><a href="/artifacts">Artifacts</a></li>
    </ul>
</div>
