<div class="stack-menu hover:cursor-pointer">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="hidden-menu">
    <ul class="flex flex-col">
        <a href="/">
            <li class="text-1xl p-3 font-bold">Main Menu</li>
        </a>
        <a href="/teams">
            <li class="text-1xl p-3 font-bold">Team Compositions</li>
        </a>
        <a href="/characters">
            <li class="text-1xl p-3 font-bold">Characters</li>
        </a>
        <a href="/weapons">
            <li class="text-1xl p-3 font-bold">Weapons</li>
        </a>
        <a href="/artifacts">
            <li class="text-1xl p-3 font-bold">Artifacts</li>
        </a>
    </ul>
</div>
<ul class="hidden lg:grid grid-cols-5 items-center justify-evenly">
    <a href="/">
        <li class="text-2xl p-3 font-bold hover:bg-purple-300 p-5 px-7 m-3">Main Menu</li>
    </a>
    <a href="/teams">
        <li class="text-2xl p-3 font-bold hover:bg-purple-300 p-5 px-7 m-3">Team Compositions</li>
    </a>
    <a href="/characters">
        <li class="text-2xl p-3 font-bold hover:bg-purple-300 p-5 px-7 m-3">Characters</li>
    </a>
    <a href="/weapons">
        <li class="text-2xl p-3 font-bold hover:bg-purple-300 p-5 px-7 m-3">Weapons</li>
    </a>
    <a href="/artifacts">
        <li class="text-2xl p-3 font-bold hover:bg-purple-300 p-5 px-7 m-3">Artifacts</li>
    </a>
</ul>