<ul id="navigation-bar">
    <li><a href="/">Main Menu</a></li>
    <li><a href="/teams">Team Compositions</a></li>
    <li><a href="/characters">Characters</a></li>
    <li><a href="/weapons">Weapons</a></li>
    <li><a href="/artifacts">Artifacts</a></li>
</ul>
<ul id="compact-navigation-bar">
    <li><a href="/">dddd</a></li>d
    <li><a href="/teams">dddd</a></li>
    <li><a href="/characters">dddd</a></li>
    <li><a href="/weapons">Wedddapons</a></li>
    <li><a href="/artifacts">xxxxxxxxxxxx</a></li>
</ul>