<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="introdution-container">
        <header>
            <h1>Genshin Impact Character and Team Building Guide</h1>
            <h2>By Aso Jaou (Aaron Zheng - 21211)</h2>
        </header>
        <nav>
            <ul class="navigation-bar">
                <a href="/">Main Menu</a>
                <a href="/teams">Team Compositions</a>
                <a href="/characters">Characters</a>
                <a href="/weapons">Weapons</a>
                <a href="/artifacts">Artifacts</a>
            </ul>
        </nav>
    </div>
</body>