{% extends "layout.html" %}
{% block content %}
<h1>{{ weapon.Weapon_Name }}</h1>
<img src="{{ weapon.Weapon_Image_URI }}" alt="{{ weapon.Weapon_Name }}">
<p>Weapon Type - {{ weapon.Weapon_Type }}</p>
<p>Base Attack - {{ weapon.MainStat_Value }}</p>
<p>Rarity - {{ weapon.Weapon_Rarity }}</p>
<p>Substat - {{ weapon.SubStat | replace('%', '') }} + {{ weapon.SubStat_Value }}</p>
<h3>{{ weapon.Weapon_Ability_Name }}</h3>
<p>{{ weapon.Weapon_Ability }}</p>
<h2>Character who use {{ weapon.Weapon_Name }}</h2>
{% for character, character_details in characters.items() %}
{% if character != None %}
<div>
    <a href="/characters/{{ character_details.Character_URL }}">
        <div>
            <img src="{{ character_details.Character_Image_URI }}" alt="{{ character_details.Character_Name }}">
            <h2>{{ character }}</h2>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}
{% endblock %}
